<h1 class="header-title">
    <i class="fa-solid fa-database"></i>
    <span class="gradient-text">HỆ</span>
 
    <span> </span>
    <span class="gradient-text">THỐNG</span>
  
    <span> </span>
    <span class="gradient-text">QUẢN</span>

    <span> </span>
    <span class="gradient-text">LÝ</span>

    <span> </span>
    <span class="gradient-text">TÀI</span>

    <span> </span>
    <span class="gradient-text">LIỆU</span>
   
</h1>
<div class="nav">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="/" class="nav-item-link"><i class="fa-solid fa-house"></i> Trang chủ</a>
        </li>
        {{#if staffFlag}}
        {{#each tracebackList}}
        <li class="nav-item">
            {{#if this.type}}
            <a href="/files/staff/{{this._id}}" class="nav-item-link">
                {{this.name}}
            </a>
            {{else}}

            <a href="/folders/staff/{{this._id}}" class="nav-item-link">
                <i class="fa-solid fa-user-tie"></i>
                {{this.name}}
                <i class="fa-solid fa-caret-right"></i>
            </a>
            {{/if}}
        </li>
        {{/each}}
        {{else}}
        {{#each tracebackList}}
        <li class="nav-item">
            {{#if this.type}}
            <a href="/files/{{this._id}}" class="nav-item-link">
                {{this.name}}
            </a>
            {{else}}

            <a href="/folders/{{this._id}}" class="nav-item-link">
                <i class="fa-solid fa-user-tie"></i>
                {{this.name}}
                <i class="fa-solid fa-caret-right"></i>
            </a>
            {{/if}}
        </li>
        {{/each}}
        {{/if}}
    </ul>
</div>