<div class="shared-objects">
    <div class="shared-objects-title">Chọn lựa đối tượng chia sẻ</div>
    <label for="shared-department-checkbox" class="shared-objects-type">
        Phòng ban
    </label>
    <input type="checkbox" id="shared-department-checkbox" style="display: none" class="shared-objects-checkbox">
    <ul class="shared-objects-list ready-departments">
        {{#each notSharedDepartments}}
            <li class="shared-objects-item">
                <div class="shared-objects-item-info">
                    <h2>{{this.name}}</h2>
                </div>
                <i class="fa-solid fa-square-plus shared-department-add"></i>
            </li>
        {{/each}}
    </ul>






    <label for="shared-user-checkbox" class="shared-objects-type">
        Người dùng
    </label>
    
    <input type="checkbox" id="shared-user-checkbox" style="display: none" class="shared-objects-checkbox">
    <ul class="shared-objects-list ready-users">
        <div class="search-user">
            <input type="text" class="search-user-input" placeholder="Từ khóa tìm kiếm ...">
            <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        {{#each notSharedUsers}}
            <li class="shared-objects-item" hidden>
                <input type="text" class="ready-user-id" style="display: none" 
                       data-id="{{this._id}}" data-role="{{this.role}}">
                <div class="shared-objects-item-info">
                    <h2>{{this.username}}</h2>
                    <p>Phòng ban: {{this.department}}</p>
                </div>
                <i class="fa-solid fa-square-plus shared-user-add"></i>
            </li>
        {{/each}}
    </ul>
</div>
<script>
    document.addEventListener('DOMContentLoaded',function(e){
        let searchInput = $('input.search-user-input')
        let searchBtn = $('.search-user i')
        let users = $('.ready-users .shared-objects-item-info')
        console.log([users])
        console.log(searchBtn)
        console.log(searchInput)
        searchBtn.click(function(e){
            const value = searchInput.val()
            for( const user of users ){
                console.log([user])
                if(!user.querySelector('h2').innerText.includes(value) && 
                   !user.querySelector('p').innerText.includes(value)) {
                   user.closest('.shared-objects-item').style.display = 'none'
                }
                else user.closest('.shared-objects-item').style.display = 'flex'
            }

        })
        searchInput.keyup(function(e){
            if(e.keyCode === 13) {
                const value = searchInput.val()
                for( const user of users ){
                    console.log([user])
                    if(user.querySelector('h2').innerText.includes(value) || 
                    user.querySelector('p').innerText.includes(value)) {
                        user.closest('.shared-objects-item').style.display = 'flex'
                    }
                    else user.closest('.shared-objects-item').style.display = 'none'
                }
            }
        })
        
    })
</script>