<ul class="folder-list">
    {{#each shareFolders}}
    <li class="folder" data-id="{{this._id}}">
        <div class="checkbox-folder-file">
            <input type="checkbox" id="choose-folder-file">
            <label for="choose-folder-file">
                <img src={{renderIcon this.type}} alt="">
            </label>
        </div>
        <div class="folder-file-information">
            <p class="folder-file-name" title="Đổi tên thư mục">{{this.name}}</p>
            <input type="text" class="rename-folder-input" style="display: none" data-id="{{this._id}}">
            <p class="folder-file-description">Hiện có: {{this.folder_childs.length}} thư mục,
                {{this.file_childs.length}} tệp</p>
        </div>
        <div class="folder-file-operation">
            {{renderPermissions this._id this.shares.permissions 'folder'}}
        </div>
    </li>
    {{/each}}
</ul>
<ul class="file-list">
    {{#each shareFiles}}
    <li class="file" data-id="{{this._id}}">
        <div class="checkbox-folder-file">
            <input type="checkbox" id="choose-folder-file">
            <label for="choose-folder-file">
                <img src={{renderIcon this.type}} alt="">
            </label>
        </div>
        <div class="folder-file-information">
            <p class="folder-file-name">{{this.name}}</p>
            <input type="text" class="rename-file-input" style="display: none" data-id="{{this._id}}">
            <p class="folder-file-description">Kích cỡ: {{renderSize this.size}}</p>
            <p class="folder-file-description">Loại: {{this.documentType}}</p>
            <p class="folder-file-description">Sở hữu: {{this.owner}}</p>

        </div>
        <div class="folder-file-operation">
            {{renderPermissions this._id this.shares.permissions 'file'}}
        </div>
    </li>
    {{/each}}
</ul>

<script>
</script>