<div class="sidebar">
    <div class="user info">
        <div class="user-information">
            <img src="/imgs/avatar-user.png" class="user-avatar" alt="..">
            <div class="change-avatar" onclick="openFileExplorer(event)">
                <i class="fa-solid fa-pen-to-square"></i>
            </div>
            <input type="file" id="avatar-input" style="display: none" accept="image/*"
                onchange="handleAvatarChange(event)">
        </div>
        <div class="user-text">
            <div class="user-name">
                <label class="user-name-label">User Name</label>: {{user.username}}
            </div>
            <div class="user-postion">

                <label class="user-postion-label">Role</label>: {{user.role}}
            </div>
            <div class="user-department">

                <label class="user-department-label">Department</label>: {{user.department}}
            </div>


        </div>
    </div>
    <div class="user">
        <label class="user-logout" for="logout-checkbox">
            <i class="fa-solid fa-right-from-bracket"></i> Đăng xuất
        </label>
        <input type="checkbox" id="logout-checkbox" style="display: none">
        <div class="modal " tabindex="-1">
            <div class="modal-overlay">
                <div class="standard-form">
                    <h1 style="font-size: 2rem; margin-bottom: 12px">Đăng xuất</h1>
                    <p style="font-size: 1.6rem">Bạn có chắc chắn muốn đăng xuất?</p>
                    <div class="form-btn-group">
                        <button class="action-btn logout-btn">Đăng xuất</button>
                        <label type="button" class="custom-action-label" for="logout-checkbox"
                            style="line-height: 30px; font-size: 1.4rem">Hủy</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="user-message">
            <i class="fa-solid fa-envelope"></i> Tin nhắn
        </div>
        <div class="user-notification">
            <i class="fa-solid fa-bell"></i> Thông báo
        </div>
    </div>
    <div class="category">
        <div class="category-article">
            <label for="category-checkbox" class="category-article-title">
                <i class="fa-solid fa-caret-right"></i>
                Quản lý tài liệu
            </label>
            <input type="checkbox" id="category-checkbox" class="checkbox">
            <div class="category-article-list">
                {{#switch user.role}}
                {{#case 'user'}}
                {{/case}}

                {{#case 'employee'}}
                <a href="/folders/{{rootId}}" class="category-article-item"><i class="fa-solid fa-folder"> </i> Tài liệu
                    của tôi </a>
                {{/case}}

                {{#case 'manager'}}
                <a href="/folders/{{rootId}}" class="category-article-item"><i class="fa-solid fa-folder"> </i> Tài liệu
                    của tôi </a>
                {{/case}}
                {{/switch}}
                <label for="checkbox" class="category-article-item category-share"> <i
                        class="fa-solid fa-share-from-square"> </i> Chia sẻ </i></label>
                <input type="checkbox" id="checkbox" class="checkbox">
                <div class="category-share-list">
                    <a href="/share/general"><i class="fa-solid fa-users"></i> Chia sẻ chung </a>
                    <a href="/share/user"> <i class="fa-solid fa-user"></i> Từ người dùng </a>
                    <a href="/share/department"><i class="fa-solid fa-building"></i> Từ phòng ban </a>
                </div>
                {{#switch user.role}}
                {{#case 'manager'}}
                <a href="/folders/affiliated" class="category-article-item"><i class="fa-solid fa-folder"> </i>
                    Tài liệu nhân viên</a>
                {{/case}}
                {{/switch}}

                {{#switch user.role}}
                {{#case 'user'}}
                {{/case}}

                {{#case 'employee'}}
                <a href="/trash" class="category-article-item"> <i class="fa-solid fa-trash-can"></i> Thùng rác </a>
                {{/case}}

                {{#case 'manager'}}
                <a href="/trash" class="category-article-item"> <i class="fa-solid fa-trash-can"></i> Thùng rác </a>
                {{/case}}
                {{/switch}}
            </div>
        </div>
    </div>

</div>
<script>
    function openFileExplorer(event) {
        event.preventDefault();
        document.getElementById('avatar-input').click();
    }

    function handleAvatarChange(event) {
        const file = event.target.files[0];
        const reader = new FileReader();
        reader.onload = function (e) {
            const avatar = document.querySelector('.user-avatar');
            avatar.src = e.target.result;
            uploadAvatar(file);
        }
        reader.readAsDataURL(file);
    }

    function uploadAvatar(file) {
        const formData = new FormData();
        formData.append('avatar', new Blob([file], { type: file.type }), file.name);

        $.ajax({
            url: '/avatar/action/uploadAvatar',
            method: 'POST',
            data: formData,
            processData: false,  // add this line
            contentType: false   // and this line
        })

    }

</script>