<ul class="file-list staff">
    {{#each fileList}}
    <li class="file staff" data-id="{{this._id}}">
        <div class="checkbox-folder-file">
            <input type="checkbox" name="fileIds[]" value="{{this._id}}">
            <label for="choose-folder-file">
                <img src={{renderIcon this.type}} alt="">
            </label>
        </div>
        <div class="folder-file-information">
            <p class="folder-file-name">{{this.name}}</p>
            <input type="text" class="rename-file-input" style="display: none" data-id="{{this._id}}">
            <p class="folder-file-description">Kích cỡ: {{renderSize this.size}}</p>
            <p class="folder-file-description">Sở hữu: {{this.owner}}</p>
        </div>
    </li>
    {{/each}}
</ul>